
#root {
    background: #f7f9fc;
}

.pointer {
    cursor: pointer;
}

.fullHeight {
    min-height: 80vh !important;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header_skirt {
    padding-bottom: .5em;
    background: #FE963A;
    box-shadow: 0 5px 7px #3232321a, 0 2px 5px #0000001a;
}

.login_header {
    background: white;
    padding: 0 2em 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login_header p {
    margin-bottom: 0;
    text-transform: capitalize;
    font-weight: bold;
    color: gray;
}

.online_status {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 1px white;
    left: 35px;
    top: 35px;
}

.login_card_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.circled_button {
    border-radius: 50%;
}

.small_loader {
    display: flex !important;
    align-items: center;
    height: 22px !important;
    width: 22px !important;
}

.ui_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4em;
}

.standard_card {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.full_page_spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.profile_picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.filter_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em 2em;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.8);
}

.soft_shadow {
    box-shadow: 0 4px 8px #3232321a;
}

.hard_shadow {
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
}

.agent_home {
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.pass_container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #1836415b;
    padding: 4em 5em;
    border-top: solid 2px #183641;
}
.footer p {
    margin-bottom: 0;
}
.footer a {
    text-decoration: none;
}
.footer > div {
    flex-wrap: wrap
}
.footer h3 {
    color: white;
    font-weight: bold;
}

.wild_profile_picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.blur_effect {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.user_info_card {
    width: 100%;
    max-width: 400px;
}

.profil_container {
    position: relative;
    width: 200px;
    height: 200px;
}

.profil_container a {
    position: absolute;
    left: 155px;
    top: 155px;
    background-color: #1B3843;
    border-radius: 50%;
    border: solid 2px white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edti_profil_form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.edti_profil_form legend {
    text-align: center;
}

.scan_code {
    position: fixed;
    bottom: 50px;
    right: 70px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 2px black;
    background: #FE963A;
    /* transition: all 0.3s ease-in-out; */
}
.add_post:hover {
    transform: scale(1.01);
    box-shadow: 0 0 4px black;
}

.modal_cover {
    background-color: rgba(0, 0, 0, 0.2);
}

.modal_container {
    max-width: 400px;
}

.scan_spinner {
    position: absolute;
    top: 170px;
    left: 170px;
}

.login_card_container {
    margin: 2em 0;
}

.pass_selector {
    max-width: 400px !important;
}

.logout {
    width: 25px !important;
}

.disactivator {
    max-width: 286px;
}

.pwd_eye_icon {
    position: absolute;
    width: 25px;
    height: 25px;
    top: calc(1rem + 38px - 25px + 9px);
    right: calc(.75rem);
    cursor: pointer;
}

.toast_container {
    position: fixed;
    display: flex;
    align-items: center;
    gap: .5em;
    padding: .5em;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: large;
    max-width: 400px;
    z-index: 1056;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}
.toast_container p {
    margin-bottom: 0;
}

.toast_success {
    background: #2f8754ad;
}
.toast_danger {
    background: #dc3d4598;
}

.close_toast {
    cursor: pointer;
}
